<section id="card">
	<div class="row card-back">
		<div class="container">
		<div class="row">
			<div class="col-lg-12 clearfix">
				<h1>Новости</h1>
				<%= link_to new_admin_news_path, class: "pull-right link" do %>
					<% if admin? then%>
						Добавить  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					<% end %>
				<% end %>
			</div>
			<% @news.each do |item| %>
			<div class="col-lg-4">
				<div class="thumbnail">
							<%= image_tag "/images/"+item.img %>
							<div class="caption">
								<h3><%= item.name %></h3>
								<p><%= truncate(item.desc, length: 150) %></p>
								<%if admin? then%>
									<%= link_to 'Edit', edit_admin_news_path(item), class:"btn btn-warning link" %>
								<% else %>
								<p>
									<a href="#" id="<%= item.id %>"
										class="btn btn-primary modal-trigger link"
										role="button" data-toggle="modal" data-target="#ModalWindow">
											Подробнее
									</a>
								</p>
								<% end %>
							</div>
					</div>
			</div>
			<% end %>
		</div>
		</div>
	</div>
</section>
<% if admin? %>
	<div id="news-modal" class="modal fade" role="dialog"></div>
<% else %>
	<%= render 'news/menu_modal' %>
<% end%>
