<section id="main-photo">
	<div class="image-container">
		<div class="container">
			<div class="wrapper">
				<h1><%= t ".header_main"%></h1>
				<p><%= t ".header_lower"%> </p>
			</div>
		</div>
	</div>
	<div class="checkboxes-container">
		<div class="checkboxes">
		</div>
	</div>
	<div class="images">
		<a href="./images/main-photo1.jpg"></a>
		<a href="./images/main-photo2.jpg"></a>
		<a href="./images/main-photo3.jpg"></a>
	</div>
</section>

<section id="main-prod">
	<div class="container">
		<div class="row">
			<% @categories.each do |c| %>
				<div class="col-lg-4 text-center">
					<p>
						<div class="my-ico">
							<%= image_tag "/images/#{c.image}"%>
						</div>
					</p>
					<p>
						<h2><%= c.name %></h2>
					</p>
					<p>
						<%= c.description %>
					</p>
					<p>
						<%= link_to t(".more"),products_url, class:"btn btn-default btn-lg"%>
					</p>
				</div>
			<% end %>
		</div>
	</div>
</section>

<section id="sertificates">
	<div class="row back-sertificates text-center">
		<h1 class="padding-sert"><%= t ".sertificates"%></h1>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">

				</div>
				<div class="col-lg-6">
	      	<div id="carousel-generic" class="carousel slide" data-ride="carousel">
	          <!-- Indicators -->
	          <ol class="carousel-indicators">
							<% @sertificates.each_with_index do |e, i| %>
	            <li data-target="#carousel-generic"
								data-slide-to="<%= i+1 %>"<% if i==0 then %> class="active" <%end%>>
							</li>
							<% end %>
						</ol>

	          <!-- Wrapper for slides -->
	          <div class="carousel-inner">
							<% @sertificates.each_with_index do |e, i| %>
	            <div class="item <% if i==0 then %> active <%end%>">
	            	<div class="not-copy-my-sertificates-bitch"></div>
	              <%= image_tag "/images/#{e.image}"%>
	              <div class="carousel-caption">
	              </div>
	            </div>
							<% end %>
	          </div>

	          <!-- Controls -->
	          <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
	            <span class="glyphicon glyphicon-chevron-left"></span>
	          </a>
	          <a class="right carousel-control" href="#carousel-generic" data-slide="next">
	            <span class="glyphicon glyphicon-chevron-right"></span>
	          </a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</section>

<section id="what-we-make">
	<div class="container">
		<div class="row back-what-we-make">
			<div class="col-lg-8">
				<h1><%= t ".about"%></h1>
				<p>
					<br>
					<b>
						<%= t ".about_first"%>
					</b>
				</p>
				<p>
					<br>
					<%= t ".about_second"%>
				</p>
			</div>
			<div class="col-lg-4 production">
				<h1><%= t ".production"%></h1>
				<ul>
					<% @aboutMenu.each do |category| %>
						<% if category[0].prod_category_id > 1 then%>
						<li>
							<a data-toggle="collapse" data-target="#cat_<%= category[0].prod_category_id %>">
								<b><%= category[0].prod_category.name %></b>
							</a>
							<ul id="cat_<%= category[0].prod_category_id %>" class="collapse">
							<% category.each do |item| %>
								<li><%= link_to item.product.name, item.product %></li>
							<% end %>
							</ul>
						</li>
						<% else %>
							<% category.each do |item| %>
								<li><%= link_to item.product.name, item.product %></li>
							<% end %>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</section>
<%= render template: "news/index" %>
<div class="row grey-back" id="contacts">
	<h1><%= t ".contacts"%></h1>
	<div class="container">


		<div class="col-lg-7 back-so-grey gmaps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2678.6170819002314!2d35.20327621589218!3d47.827637580675166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dc5dc2371b294b%3A0x29e9d95c53ec2702!2z0LLRg9C7LiDQkdGA0Y7Qu9C70L7QstCwLCAxMSwg0JfQsNC_0L7RgNGW0LbQttGPLCDQl9Cw0L_QvtGA0ZbQt9GM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1sru!2sua!4v1459962468819" width="665" height="455" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>

		<div class="col-lg-4 col-lg-offset-1 back-so-grey align-center">
			<li><b><h3><%= t ".sales_department"%></h3></b>
				<ul>
					<li><h4><a href="#"><p>Скрипник Виталий Николаевич,</p><span class="glyphicon glyphicon-earphone" style="color:#006df0;"></span> +38(061)289-30-35</a></h4></li>
					<li><h4><a href="#"><p>Петрушенко Андрей Петрович</p><span class="glyphicon glyphicon-earphone" style="color:#006df0;"></span> +38(061)289-30-36</a></h4></li>
				</ul>
			</li>
			<li><b><h3><%= t ".accounting"%>:</h3></b>
				<ul>
					<li><h4><a href="#"></p><span class="glyphicon glyphicon-earphone" style="color:#006df0;"></span> +38(061)289-30-35</a></h4></li>
				</ul>
			</li>
			<li><b><h3>Отдел снабжения:</h3></b>
				<ul>
					<li><h4><a href="#"></p><span class="glyphicon glyphicon-earphone" style="color:#006df0;"></span> +38(061)289-30-35</a></h4></li>
				</ul>
			</li>
			<li><b><h3>E-mail:</h3></b>
				<ul>
					<li><h4><a href="#"></p><span class="glyphicon glyphicon-envelope" style="color:#006df0;"></span> hts_s@mail.ru</a></h4></li>
				</ul>
			</li>
			<div class="button-align">
				<button type="button" class="btn btn-primary"><%= t ".feedback"%></button>
			</div>
		</div>

	</div>
</div>
<div class="row grey-back">
	<h5><%= t "footer" %></h5>
</div>
