<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hladar</title>
		<%= stylesheet_link_tag    'application',params[:controller] %>
		<%= javascript_include_tag 'application', params[:controller] %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar nav-shadow navbar-fixed-top">
			<div class="navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-content" aria-expanded="false">
					<%= image_tag "ic_menu_black" %>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="nav-content">
				<ul class="nav navbar-nav">
					<% @nav.each do |e| %>
						<li role="presentation" class="active"><%= link_to e[:name], e[:link]%></li>
					<% end %>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		<main>
		<%= content_for?(:content) ? yield(:content) : yield %>
		</main>
	</body>
